{% extends "orders/base.html" %}

{% block body %}
{% if item.first.menu == "Regular Pizza" or item.first.menu == "Sicilian Pizza" %}
    <h1>{{ item.first.menu }}: {{ item.first.topping_type }}</h1>
{% else %}
    <h1>{{ item.first.menu }}: {{ item.first.item_type }}</h1>
{% endif %}

<text>Price: ${{ item.first.price }}</text>

{% if item.first.menu != "Salad" and item.first.menu != Pasta %}
<form action="{% url 'add_item' item.first.id %}" method="post">
    {% csrf_token %}
    {{ order_form }}
    <input type="submit">
</form>

{% endif %}
{% endblock %}
