{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.min.css' %}"> -->

    <!-- DataTables CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'DataTables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css' %}"> -->

    <!-- Select2 CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'select2.min.css' %}"> -->

    <!-- Overall CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> -->

    <!-- Math Jax -->
    <!-- <script src="/static/polyfill.min.js"></script> -->
    <!-- <script id="MathJax-script" async src="/static/tex-mml-chtml.js"></script> -->

    <style type="text/css">
        body {
            font-family: Arial;
    }
    </style>
    {% block java_style %} {% endblock %}

    <title>Pizza Orders</title>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/menu">Menu</a>
      {% if request.session.username %}
        <a class="navbar-brand" href="/logout">Log out {{ request.session.username }}</a>
      {% else %}
        <a class="navbar-brand" href="/register">Register</a>
        <a class="navbar-brand" href="/login">Log in</a>
      {% endif %}
      <br>
      <br>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
      </div>
    </nav>
    {% block body %}
    {% endblock %}
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/search">Search books</a>
        <a class="navbar-brand" href="/register">Register</a>
        <a class="navbar-brand" href="/login">Log in</a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
      </div>
    </nav> -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="/static/jquery-3.4.1.slim.min.js" type="text/javascript"></script>
    <script src="/static/popper-1.16.0.min.js" type="text/javascript"></script>
    <script src="/static/bootstrap-4.4.1-dist/js/bootstrap.min.js" type="text/javascript"></script> -->

    <!-- DataTables -->
    <!-- <script src="/static/DataTables/DataTables-1.10.20/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="/static/DataTables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js" type="text/javascript"></script> -->
	<!-- <script type="text/javascript">
	$(document).ready(function () {
	  // Initialize the data table.
    var data_table = $(".render-datatable").DataTable();

	});
	</script> -->

    <!-- Bootstrap Input Spinner -->
    <!-- <script src="/static/bootstrap-input-spinner.js" type="text/javascript"></script>
    <script type="text/javascript">
      $("input[type='number']").inputSpinner();
    </script> -->

    <!-- Select2 -->
    <!-- <script src="/static/select2.min.js" type="text/javascript"></script> -->

    {% block javascript %}{% endblock %}
  </body>
</html>
