{% extends "orders/base.html" %}

{% block body %}

{% for menu, items in menus.items %}
  <a href="#{{ menu }}">{{ items.first.menu }}</a>
{% endfor %}

{% for menu, items in menus.items %}
  <a id="{{ menu }}"><h2>{{ items.first.menu }}</h2></a>
  <table class="render-datatable table table-sm" 
      data-order="[[ 4, &quot;desc&quot; ]]" 
      data-searching="false"
      data-paging="false"
      data-scroll-y="500">
  <tbody>
      {% for item in items %}
      <tr>
      {% if menu == "reg_pizza" or menu == "sicilian_pizza" %}
        <td>{{ item.topping_type }}</td> 
      {% else %}
        <td>{{ item.item_type }}</td>
      {% endif %}
      {% if menu != "salad" and menu != "pasta" %}
        <td>{{ item.size }}</td>
      {% endif %}
      <td>${{ item.price }}</td>
      <td>Add to cart</td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
{% endfor %}
{% endblock %}
